@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
}

#footer{
  display: flex;
  justify-content:space-evenly;
  position: absolute;
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 3%;
  background-color: #282a36;
}

#card{  
  display: flex;
  flex-direction: column;
  position: absolute;
  top:100px;
  margin-left: 5px;
  width: 300px;
  height: 590px;
  background-color:#FFFF;
  z-index:10;
}

#storedQueries {
  width: 200px; 
  height: 3%;
  padding: 10px;
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #fff; 
  color: #333; 
  margin-top: 5px;
}

#storedQueries option {
  padding: 5px; 
}


#cidade {
  margin-top: 5px;
  padding: 10px; 
  height: 3%;
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

button[type="submit"] { 
  margin-top: 5px;
  font-size: 20px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

button[type="submit"]:hover {
  background-color: #0056b3; 
}

#card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px; 
  margin: 0 auto;
  height: auto;
}

#card p {
  margin: 5px 0;
  font-size: 16px;
}
